!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Device Health Alert
    %p
      The device with serial_number: #{@device.serial_number} has the status of: #{@report.health_status}

    %p You can check this information  #{link_to "here", device_url(@device.id)}
