%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/"}= image_tag('/images/logo.png', size: "156x69")
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    - if current_admin
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to "Devices", devices_path, class: "nav-link"
        %li.nav-item
          = link_to "Admins", admins_path, class: "nav-link"
      %ul.nav.navbar-nav.navbar-right
        %li.mt20
          = link_to "Logout", destroy_admin_session_path, class: "nav-link", method: :delete

